
<h1>
  Conversations for <%= @topic.name %>!
</h1>
  <%= form_for :conversation, url: topic_conversations_path(@topic) do |f| %>
    <h2>New conversation</h2>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.submit("Create conversation") %><br>

  <% end %>

<ul>
  <% @conversations.each do |c| %>
    <li><%= c.title %></li>
    <%= button_to 'Delete', admin_topic_conversation_url(@topic, c), :method => :delete %>
  <% end %>

</ul>
